# 3章 顧客の全体像を把握する１０本ノック

ここでは、スポーツジムの会員データを使って顧客の行動を分析していきます。  
これまでと同様にまずはデータを理解し、加工した後、  
顧客の行動データを分析していきましょう。  
ここでは、機械学習に向けての初期分析を行います。

### ノック21：データを読み込んで把握しよう

In [1]:
import pandas as pd
uselog = pd.read_csv('use_log.csv')
print(len(uselog))
uselog.head()

197428

            log_id customer_id     usedate
0  L00000049012330    AS009373  2018-04-01
1  L00000049012331    AS015315  2018-04-01
2  L00000049012332    AS040841  2018-04-01
3  L00000049012333    AS046594  2018-04-01
4  L00000049012334    AS073285  2018-04-01

In [2]:
customer = pd.read_csv('customer_master.csv')
print(len(customer))
customer.head()

4192

  customer_id   name class  ... end_date campaign_id is_deleted
0    OA832399   XXXX   C01  ...      NaN         CA1          0
1    PL270116  XXXXX   C01  ...      NaN         CA1          0
2    OA974876  XXXXX   C01  ...      NaN         CA1          0
3    HD024127  XXXXX   C01  ...      NaN         CA1          0
4    HD661448  XXXXX   C03  ...      NaN         CA1          0

[5 rows x 8 columns]

In [3]:
class_master = pd.read_csv('class_master.csv')
print(len(class_master))
class_master.head()

3

  class class_name  price
0   C01     オールタイム  10500
1   C02      デイタイム   7500
2   C03        ナイト   6000

In [5]:
campaign_master = pd.read_csv('campaign_master.csv')
print(len(campaign_master))
campaign_master.head()

3

  campaign_id campaign_name
0         CA1            通常
1         CA2         入会費半額
2         CA3         入会費無料

### ノック22：顧客データを整形しよう

### ノック23：顧客データの基礎集計をしよう

### ノック24：最新顧客データの基礎集計をしよう

### ノック25：利用履歴データを集計しよう

### ノック26：利用履歴データから定期利用フラグを作成しよう

### ノック27：顧客データと利用履歴データを結合しよう

### ノック28：会員期間を計算しよう

### ノック29：顧客行動の各種統計量を把握しよう

### ノック30：退会ユーザーと継続ユーザーの違いを把握しよう